/* song page css */
.square {
  width: 500px;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  align-self: center;
  margin-top: 150px;
  text-align: center;
  padding: 0 25px;
}
.songTitle {
  padding: 20px 0;
  font-size: x-large;
  font-weight: bold;
}
.songArtist {
  border-top: solid rgba(128, 128, 128, 0.39) 1px;
  padding: 10px;
}
.songStreams {
  color: grey;
  opacity: 40%;
  font-weight: bolder;
  font-size: 220px;
}
footer {
  text-align: center;
  padding: 30px;
}
